body{
  background-color: #363152;
  height: 100%;
}
.background{
  height: 600px;
  background:url('./app/images/bg2.jpg') no-repeat;
  background-size:cover;
  background-position:center center;

}

