<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">













<form #loginForm="ngForm" novalidate="true" (ngSubmit)="login()">
  Login:<br>
  <input type="text" name="login" [(ngModel)]="username" required>
  <br>
  Password:<br>
  <input type="password" name="password" [(ngModel)]="password" required>
  <br><br>
  <div>
    <button [disabled]="loginForm.invalid || pendingRequest">Login</button>
  </div>


</form>
<input type="button" value="This is button link" onclick="window.location.href='../register'">

<div *ngIf="loginError">
  Invalid User or password
</div>
