<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<p>Your parking slot nr is {{id}}</p>


<div class="reg">
  <form #loginForm="ngForm" novalidate="true" (ngSubmit)="register()">
    begin date:<br>
    <input type="text" name="beginDate" placeholder="yyyy-MM-dd" [(ngModel)]="reservation.beginDate" required>
    <br>
    end date:<br>
    <input type="text" name="endDate" placeholder="yyyy-MM-dd" [(ngModel)]="reservation.endDate" required>
    <br>
    <div class="add-button">
      <button class="btn" (click)="addReservation()">Add reservation</button>
    </div>
  </form>
</div>

