<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="bar">
<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-inverse" role="navigation">


    <a class="navbar-brand navbar-right bars" href="home">home</a>
    <div class="conditionalPages" *ngIf="securityService.isAuthenticated()">
    <a class="navbar-brand navbar-right bars" href="parking">find slot & book</a>
    <a class="navbar-brand navbar-right bars" href="reservation">check all reservations</a>
    </div>

    <app-login-form></app-login-form>
  </nav>
</div>
</div>
