
.container {
  padding-top: 130px;
}

.parking{
  font-size: 20px;
  color:#d35400;
  padding-top: 50px;
  margin-left:50px;


}
.add-button {
  padding-top: 50px;
  margin-left: 20px;
}

.btn{
  font-size:20px;
  height:40px;
  width: auto;
  background-color: #d35400;
}

.table{
  background-color: black !important;
}




