<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="parking">
  <app-parking-map></app-parking-map>
<div class="container">
  <table class="table">
    <tr class="active">
      <th>ID</th>
      <th>Parking localisation</th>
      <th>Parking name</th>
      <th>Booking</th>
    </tr>
    <tr class="active" *ngFor="let parking of parkings">
      <td>{{parking.id}}</td>
      <td>{{parking.location}}</td>
      <td>{{parking.name}}</td>
      <td><button class="btn btn-warning" routerLink="../newReservation/{{parking.id}}">Book it!</button></td>
    </tr>
  </table>
</div>
</div>
