<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="reservation">



<div class="container">
    <table class="table">
      <tr class="active">
        <th>ID</th>
       <th>Begind Date</th>
       <th>End Date</th>
       <th>Localisation</th>
       <th>Parking name</th>
       <th>Booked by</th>
      </tr>
      <tr class="active" *ngFor="let reservation of reservations">
        <td>{{reservation.id}}</td>
        <td>{{reservation.beginDate | date:'y-MM-dd HH:mm'}}</td>
        <td>{{reservation.endDate | date:'y-MM-dd HH:mm'}}</td>
        <td>{{reservation.parking.location}}</td>
        <td>{{reservation.parking.name}}</td>
        <td>{{reservation.profile.name}}</td>
      </tr>
  </table>
  </div>
</div>

