.form {
  padding-top: 300px;
}

.container {
  padding-top: 700px;
}

.reg{
  font-size: 20px;
  color:#d35400;
  padding-top: 50px;
  margin-left:50px;
  width:230px;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}
.add-button {
  padding-top: 50px;
  text-align: center;
}
.input {
  background-color: #7f8c8d;

}
.btn{
  font-size:20px;
  height:40px;
  color:black;
  width: auto;
  border:thin solid black;
  background-color: #d35400;

}

.table{
  background-color: black !important;
}
