<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="reg">
<form #loginForm="ngForm" novalidate="true" (ngSubmit)="register()">
  login:<br>
  <input type="text" name="login" placeholder="login" [(ngModel)]="profile.login" required>
  <br>
  password:<br>
  <input type="password" name="password" placeholder="password" [(ngModel)]="profile.password" required>
  <br>
  name:<br>
  <input type="text" name="name" placeholder="name" [(ngModel)]="profile.profileDto.name" required>
  <br>
  surname:<br>
  <input type="text" name="surname" placeholder="surname" [(ngModel)]="profile.profileDto.surname" required>
  <br>

  <div class="add-button">
    <button class="btn">Register</button>
  </div>

</form>
</div>

<!--<div *ngIf="loginError">-->
  <!--Invalid User or password-->
<!--</div>-->
